<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <link rel="stylesheet" href="./style.css" />
        <title>Login</title>
    </head>
    <body>
        <div class="app">
            <div class="header"><h1>Sign Up | Log In Flow</h1></div>
            <div class="form-box">
                <form action="/login" class="signin-form" method="post">
                    <input type="hidden" name="_csrf" value="${csrfToken}" />
                    <label for="Email">User Id</label>
                    <input type="email" name="Email" id="" />
                    <label for="Password">Password</label>
                    <input type="password" name="Password" />
                    <div class="div-btn">
                        <button type="submit" class="sbmt">Submit</button>
                    </div>
                </form>
            </div>
        </div>
    </body>
</html>
